<!-- <ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content scrollY="false">
  <header>
    <div class="logo">
      <div class="prefix">bit</div><div class="nomeEmpresa">Assistent</div>
    </div>
    <div class="filtro"><ion-searchbar></ion-searchbar></div>
  </header>
  <div class="painelLogin">
    <button ion-button clear>
        <ion-icon name='contact' is-active="false"></ion-icon>
        &nbsp;Logar
    </button>
</div>

<div class="headList">
  TOP CLIPS
</div>
<div class="listClipsHorizontal">
  <div class="itemList" *ngFor="let item of data"></div>
</div>

<div class="headList">
  CANAIS
</div>
<div class="listCanaisHorizontal">
  <div class="itemList add">
    <div class="conteudoAdd">
      <div class="iconAdd"><ion-icon name="add"></ion-icon>
      <div>ADICIONAR<br>CANAL</div>
      </div>
    </div>
  </div>

  <div class="itemList item" *ngFor="let item of data">
    <div class="thumbnail"><img src="{{item.url}}"></div>
    <div class="content">
      {{item.nome}}
      <hr>
    </div>
  </div>
</div>
</ion-content>
