<ion-header>
  <ion-navbar>
    <ion-title>
      <span>{{canalSelecionado.display_name}}</span>
      <span (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </span>
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="banner" [ngStyle]="{'background-image': 'url('+canalSelecionado.profile_banner+')'}">
    <div class="logo" [ngStyle]="{'background-image': 'url('+canalSelecionado.logo+')'}"></div>
  </div>
  <div class="painel">
    <div class="buttonPainel list">
        <div>
          <ion-icon ios="md-add" md="md-add"></ion-icon> 
            Adicionar
        </div>
    </div>
    <div class="buttonPainel notification">
        <div>
          <ion-icon ios="ios-notifications" md="ios-notifications"></ion-icon> 
          Desativar
        </div>
    </div>
  </div>
  <div class="head">DESCRIÇÃO</div>
  <div class="descricao">{{canal.description}}
    <span *ngIf="canal.description == ''">Nenhuma informação a ser exibida</span>
  </div>
  <div class="stats">
    <div class="painelStats">
      <div class="titleStats">Espectadores</div>
      <div class="resultStats">{{canal.views | number:'1.0-0':'pt-BR'}}</div>
    </div>
    <div class="painelStats">
      <div class="titleStats">Seguidores</div>
      <div class="resultStats">{{canal.followers | number:'1.0-0':'pt-BR'}}</div>
    </div>
    <div class="painelStats">
      <div class="titleStats">Linguagem</div>
      <div class="resultStats">{{canal.language | uppercase}}</div>
    </div>
  </div>

  <ion-toolbar no-border-top>
    <ion-segment color="twitch" [(ngModel)]="tabAtual">
      <ion-segment-button value="clipes" (click)="mudarCategoria('clipes')">
        Clipes
      </ion-segment-button>
      <ion-segment-button value="videos" (click)="mudarCategoria('videos')">
        Vídeos
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="cardsClipes" *ngFor="let item of clipsAndVideos">
    <div class="tag" [ngClass]="{'backVideo' : item.duration, 'backClipe' : !item.duration}">{{item.duration ? 'VÍDEO' : 'CLIPE'}}</div>
    <img [src]="item.thumbnail_url">
    <div class="rodape">
      <div class="title">{{item.title}}</div>
      <div class="vizualizacao">{{item.view_count | number:'1.0-0':'pt-BR'}} vizualizações</div>
    </div>
  </div>

</ion-content>
<ion-footer *ngIf="stream != '' && stream != null && toastLive">
    <div class="avisoAoVivo">
      <div class="close" (click)="fecharAviso()"><ion-icon ios="md-close" md="md-close"></ion-icon></div>
      <img src="{{stream.preview.medium}}" *ngIf="stream.preview.medium != undefined">
      <div class="msgAoVivo">AO VIVO</div>
      <div class="detalhes">
        <div class="title">{{stream.channel.status}}</div>
        <div class="jogo">Jogo: <span>{{stream.game}}</span></div>
        <div class="espec">
          <ion-icon name="people"></ion-icon>
          <div>{{stream.viewers | number:'1.0-0':'pt-BR'}} espectadores</div>
        </div>
        <div class="icon-open" (click)="irParaCanal()">
            <ion-icon ios="ios-open-outline" md="md-open"></ion-icon>
        </div>
      </div>
    </div>
</ion-footer>