canal-pagina{
    ion-header{
        ion-navbar{
            .toolbar-background{
            background-color: $twitch;

            } 
            .toolbar-background-md{
                background-color: $twitch;

            }

            ion-title{
            background-color: $twitch;
            color: white;

            .toolbar-title{
                color: white;
            }
            .iconTwitch{
                color: white;
                border-radius: 50px;
                font-size: 13px;
            }
            span{
                color: white;
                font-weight:normal;
                display: inline;

                ion-icon{
                    position: absolute;
                    right: 10px;
                    font-size: 40px;
                    bottom: 1px;
                }
                    .icon-md{
                        bottom: -10px;
                    }
                }
            }
        }
    }
    .banner{
        width: 100%;
        height: 121.500px;
        background-color: #ccc;
        background-size: cover;
        background-position: center;
        position: relative;

        .logo{
           width: 100px;
           height: 100px;
           position: absolute;
           left: 10px;
           bottom: 0;
           transform: translate(0%, 50%); 
           background-color: white;
           background-size: cover;
           border: 7px solid white;
           border-radius: 100px;
        }
    }

    .painel{
        width: calc(100% - 50px);
        height: 35px;
        margin-left: 50px;
        margin-top: 0px;
        padding: 1px 5px;
        background-color: $twitch;
        padding-left: 63px;
        white-space: nowrap;

        .buttonPainel{
            width: calc(100% - 106px);
            height: 100%;
            border-right: 1px solid #000;
            display: inline-flex;
            padding: 8px;
        }

        .list{
            color: #fff;
            position: relative;
            font-weight: bold;

            div{
                position: absolute;
                top: 50%;
                left: 10px;
                font-size: 14px;
                transform: translate(0%, -50%);
                padding-top: 4px;

                ion-icon{
                    font-size: 20px;
                    float: left;
                    margin-top: -2px;
                    margin-right: 5px;
                }
            }
        }

        .notification{
            color: #fff;
            position: relative;
            font-weight: bold;
            border-right: none;

            div{
                position: absolute;
                top: 50%;
                left: 10px;
                font-size: 14px;
                transform: translate(0%, -50%);
                padding-top: 4px;

                ion-icon{
                    font-size: 20px;
                    float: left;
                    margin-top: -2px;
                    margin-right: 5px;
                }
            }
        }
    }

    .cardsClipes{
        width: calc(100vw - 20px);
        position: relative;
        margin: 0 auto 10px;
        border-radius: 3px;
        overflow: hidden;
        background-color: #ccc;

        .tag{
            position: absolute;
            top: 7px;
            left: 7px;
            font-size: 12px;
            border-radius: 10px;
            color: white;
            background-color: #2ecc71;
            display: table;
            padding: 2px 10px;
            -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
        }

        .backClipe{
            background-color: #2ecc71;
        }
        .backVideo{
            background-color: #3498db;
        }

        .rodape{
            width: 100%;
            position: absolute;
            height: 70px;
            bottom: 0;
            left: 0;
            color: white;
            background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

            .title{
                font-size: 16px;
                width: calc(100% - 5px);
                position: absolute;
                bottom: 24px;
                left: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .vizualizacao{
                color: #dddddd;
                font-size: 13px;
                position: absolute;
                bottom: 5px;
                left: 5px;
            }
        }
    }

    .head {
        padding: 20px 10px 10px;
        font-size: 13px;
        font-weight: bold;
    }
    .descricao{
        padding: 10px;

        span{
            color: #ccc;
        }
    }

    .detalhes{
        width: 100%;
    }

    .stats{
        width: 100vw;
        height: 50px;
        padding: 0 10px;

        .painelStats{
            width: calc(33.33% - 2.6px);
            background-color: transparent;
            border: 1px solid $twitch;
            height: 100%;
            display: inline-block;
            position: relative;
            padding: 7px;
            color: $twitch;
            border-radius: 3px;

            .titleStats{
                font-size: 12px;
            }

            .resultStats{
                color: $twitch;
                font-weight: bold;
                width: 100%;
                text-align: right;
                margin-top: 5px;
            }
        }
    }

    .avisoAoVivo{
        position: fixed;
        display: block;
        width: calc(100vw - 20px);
        height: 60px;
        left: 50%;
        transform: translate(-50%, 0%);
        bottom: 10px;
        background-color: #f8f8f8; 
        border: 1px solid #ccc;
        border-radius: 3px;
        z-index: 999;
        padding: 2px;
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

        .close{
            position: absolute;
            right: 0;
            top: 0;
            transform: translate(50%, -50%);
            font-size: 12px;
            height: 20px;
            width: 20px;
            border-radius: 25px;
            color: white;
            background-color: #fa2c2c;

            ion-icon{
                position: absolute;
                top: 50%;
                left: 50%;
                transform:translate(-50%, -50%);
            }

        }

        img{
            height: 100%;
            display: inline-block;
            border-radius: 3px;
        }

        .msgAoVivo{
            position: absolute;
            top: 5px;
            left: 5px;
            font-size: 10px;
            padding: 1px 7px;
            background-color: red;
            border-radius: 25px;
            color: white;
        }

        .detalhes{
            float: right;
            width: calc(100% - 103px);
            height: 100%;

            .title{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: bold;
                font-size: 14px;
                padding: 3px 0 0 3px;
                width: calc(100% - 40px);
            }

            .jogo{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 10px;
                width: calc(100% - 40px);

                span{
                    font-weight: bold;
                }
            }

            .espec{
                width: calc(100% - 40px);
                font-size: 12px;

                ion-icon{
                    float: left;
                    font-size: 18px;
                    color: #585858
                }
                div{
                    float: left;
                    padding: 3px 3px
                }
            }

            .icon-open{
                float: right;
                width: 35px;
                height: 35px;
                margin-top: -14px;
                margin-right: -1px;
                font-size: 30px;
                padding-left: 5px;
            }
        }
    }

    ion-toolbar{
        ion-segment{
            background-color: white;
            padding: 0px 10px;
            
            .segment-button{
                max-width: 100% !important;
            }
        }
    }

}