<ion-content scrollY="false">
  <header>
    <div class="logo">
      <div class="prefix">bit</div>
      <div class="nomeEmpresa">Assistente</div>
    </div>
  </header>
  <div class="headList">
    TOP CLIPS
    <div class="filtro" (click)="modalFiltroClips()" *ngIf="buttonClip == false">PROCURAR CANAL</div>
  </div>
  <div class="listHorizontal">
    <div class="itemListClips" *ngFor="let item of clips" (click)="modalPaginaClip(item)">
      <img src="{{ item.thumbnail_url }}" />
      <div class="channelClip">
        <img src="{{ item.logo }}" />
      </div>
    </div>
  </div>

  <!-- LOADING -->
  <div class="listHorizontal loading" *ngIf="buttonClip">
    <div class="itemListClips">
    </div>
    <div class="itemListClips">
    </div>
    <div class="itemListClips">
    </div>
    <div class="itemListClips">
    </div>
    <div class="loadingIcon">
      <div>{{errorMensagem}}</div>
      <div class="filtrarClips ajustes" (click)="modalFiltroClips()">PROCURAR CANAL</div>
    </div>
  </div>
  <!-- LOADING -->

  <div class="headList jogos">
    JOGOS
    <div class="filtro" (click)="modalFiltroJogos()">PROCURAR JOGOS</div>
  </div>
  <div class="listHorizontal">
    <div class="itemListGames" *ngFor="let item of games" (click)="modalPaginaJogo(item)">
      <img src="{{ item.game.box.medium }}" />
      <div class="usuariosAssistindo">
        <ion-icon name="people"></ion-icon><span>{{ item.viewers | number:'1.0-0':'pt-BR'}}</span>
      </div>
    </div>
  </div>

  <div class="headList">CANAIS</div>
  <div class="listHorizontal channels">
    <div class="itemListChannels" *ngFor="let item of channels">
      <div class="ButtonRemover" (click)="removerCanal(item)"><ion-icon name="trash"></ion-icon></div>
      <div class="thumbnail" (click)="modalPaginaCanal(item)"><img src="{{ item.logo }}" /></div>
      <div class="content">
        <div class="nameChannel">{{ item.display_name }}</div>
        <div class="detalhe">Status</div>
        <div [ngClass]="{'aoVivo' : item.status == 'live', 'offline' : item.status == null, 'reRun' : item.status == 'rerun'}">{{item.status == null ? 'OFFLINE' : item.status == 'live' ? 'AO VIVO' : item.status == 'rerun' ? 'RERUN' : 'OFFLINE'}}</div>
        <div class="detalhe">Notificação</div>
        <div (click)="desativarNot(item)" [ngClass]="{'notAtivado' : item.notificacao, 'notDesativado' : !item.notificacao}">{{item.notificacao ? 'DESATIVAR' : 'ATIVAR'}}</div>
      </div>
    </div>
  </div>
  <ion-fab bottom right (click)="modalFiltroChannel()">
    <button ion-fab color="twitch">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>