<ion-content scrollY="false">
  <header>
    <div class="logo">
      <div class="prefix">bit</div>
      <div class="nomeEmpresa">Assistente</div>
    </div>
  </header>
  <div class="headList">
    TOP CLIPS
    <div class="filtro" (click)="modalFiltroClips()" *ngIf="buttonClip == false">PROCURAR CANAL</div>
  </div>
  <div class="listHorizontal">
    <div class="itemListClips" *ngFor="let item of clips" (click)="modalPaginaClip(item)">
      <img src="{{ item.thumbnail_url }}" />
      <div class="channelClip">
        <img src="{{ item.logo }}" />
      </div>
    </div>
  </div>

  <!-- LOADING -->
  <div class="listHorizontal loading" *ngIf="buttonClip">
    <div class="itemListClips">
    </div>
    <div class="itemListClips">
    </div>
    <div class="itemListClips">
    </div>
    <div class="itemListClips">
    </div>
    <div class="loadingIcon">
      <div>{{errorMensagem}}</div>
      <div class="filtrarClips ajustes" (click)="modalFiltroClips()">PROCURAR CANAL</div>
    </div>
  </div>
  <!-- LOADING -->

  <div class="headList jogos">
    JOGOS
    <div class="filtro" (click)="modalFiltroJogos()">PROCURAR JOGOS</div>
  </div>
  <div class="listHorizontal">
    <div class="itemListGames" *ngFor="let item of games" (click)="modalPaginaJogo(item)">
      <img src="{{ item.game.box.medium }}" />
      <div class="usuariosAssistindo">
        <ion-icon name="people"></ion-icon><span>{{ item.viewers | number:'1.0-0':'pt-BR'}}</span>
      </div>
    </div>
  </div>

  <div class="headList">CANAIS</div>
  <div class="listHorizontal channels">
    <!-- <div class="itemListChannels add" (click)="modalFiltroChannel()">
      <div class="conteudoAdd">
        <div class="iconAdd">
          <ion-icon name="add"></ion-icon>
          <div>ADICIONAR<br />CANAL</div>
        </div>
      </div>
    </div> -->

    <!-- <div class="itemListChannels">
      <div class="add">
        <div class="conteudoAdd">
          <div class="iconAdd">
            <ion-icon name="add"></ion-icon>
            <div>ADICIONAR<br />CANAL</div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="itemListChannels item" *ngFor="let item of channels">
      <div class="thumbnail"><img src="{{ item.logo }}" /></div>
      <div class="content">
        {{ item.display_name }}
        <hr />
      </div>
    </div>
  </div>
  <ion-fab bottom right (click)="modalFiltroChannel()">
    <button ion-fab color="twitch">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>