<ion-content scrollY="false">
  <header>
    <div class="logo">
      <div class="prefix">bit</div><div class="nomeEmpresa">Assistente</div>
    </div>
  </header>

<div class="headList">
  TOP CLIPS
  <div class="filtrarClips">
    <ion-icon name="search"></ion-icon>FILTRAR
  </div>
</div>
<div class="listClipsHorizontal">
  <div class="itemList" *ngFor="let item of data"></div>
</div>

<div class="headList jogos">
  JOGOS
</div>
<div class="listGamesHorizontal">
  <div class="itemList" *ngFor="let item of data"><img src="https://static-cdn.jtvnw.net/ttv-boxart/Fortnite-272x380.jpg"></div>
</div>

<div class="headList">
  CANAIS
</div>
<div class="listCanaisHorizontal">
  <div class="itemList add">
    <div class="conteudoAdd">
      <div class="iconAdd"><ion-icon name="add"></ion-icon>
      <div>ADICIONAR<br>CANAL</div>
      </div>
    </div>
  </div>

  <div class="itemList item" *ngFor="let item of data">
    <div class="thumbnail"><img src="{{item.url}}"></div>
    <div class="content">
      {{item.nome}}
      <hr>
    </div>
  </div>
</div>
</ion-content>
