clip-pagina{
    ion-header{
        ion-navbar{
            .toolbar-background{
            background-color: $twitch;

            } 
            .toolbar-background-md{
                background-color: $twitch;

            }

            ion-title{
            background-color: $twitch;
            color: white;

            .toolbar-title{
                color: white;
            }
            .iconTwitch{
                color: white;
                border-radius: 50px;
                font-size: 13px;
            }
            span{
                color: white;
                font-weight:normal;
                display: inline;

                ion-icon{
                    position: absolute;
                    right: 10px;
                    font-size: 40px;
                    bottom: 1px;
                }
                    .icon-md{
                        bottom: -10px;
                    }
                }
            }
        }
    }

    .video{
        width: 100vw;
        height: 200px;
        background-color: black;
    }

    .nameInfo{
        width: 100%;
        padding: 10px;

        span{
            font-size: 20px;
        }

        div{
            font-size: 12px;
            color: #ccc;
        }
    }

    .detalhes{
        width: calc(100vw - 20px);
        margin: 0 auto;
    }
}