filtro-jogos{
    ion-header{
        ion-navbar{
            .toolbar-background{
            background-color: $twitch;

            } 
            .toolbar-background-md{
                background-color: $twitch;

            }

            ion-title{
            background-color: $twitch;
            position: relative;
            color: white;

            .iconTwitch{
                display: inline;
                color: white;
                border-radius: 50px;
                font-size: 13px;
            }
            span{
                color: white;
                font-weight:normal;
                display: inline;

                ion-icon{
                    position: absolute;
                    right: 10px;
                    font-size: 40px;
                    bottom: 1px;
                }
                    .icon-md{
                        bottom: -10px;
                    }
                }
            }
        }
    }
    .item-ios ion-thumbnail img{
        width: 45px !important;
        height: none !important;
    }

    .conteudo{
        width: 100vw;
        padding: 5px 0px 0px 5px;

        .imgCapaDiv{
            width: calc(33.33% - 5px);
            margin-right: 5px;
            margin-top: 1px;
            position: relative;
            display: inline-block;

            img{
                width: 100%;
            }

            .infoJogo{
                position: absolute;
                top: 0;
                left: 0;
                background: -moz-linear-gradient(top, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                width: 100%;
                height: 60px;
                white-space: nowrap; 
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 5px 10px;
                color: white;
            }
        }
    }

    .error{
        width: 100vw;
        text-align: center;
        color: #ccc;
    }
}